.page
    display: flex
    flex-direction: column
    align-items: center

.download
    display: flex
    align-items: center
    gap: 13px    
    img
        width: 100%
        height: 100%
        object-fit: cover
    &__link:hover
        transform: scale(1.05)
        transition: transform 0.4s ease

.cards    
    display: flex
    gap: 62px
    @include md
        width: 100%
        justify-content: space-between
        gap: 20px
    @include sm
        flex-direction: column
        align-items: center
        gap: 30px            

.card
    width: 363px
    min-height:  280px
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    padding-top: 40px
    padding-bottom: 40px
    border-radius: 44px
    background:  linear-gradient(300deg, #F5F2EB 1.26%, #F7E6CB 100.49%)
    box-shadow: 5px 5px 13px 0px #DD8762
    @include sm
        width: 60%
    @include xs
        width: 80%
    @include xxs
        width: 100%        
    &__img-box        
        width: 76px
        height: 76px
        background-color: $bright-color-3        
        display: flex
        align-items: center
        justify-content: center
        &_style_rounded
            border-radius: 10px
    &__title
        font-family: $roboto-b
        font-size: 18px
        line-height: 147%
        color: $dark-color-5
        padding-bottom: 10px
        padding-top: 15px
        &_style_dark        
            color: $black-color
    &__text
        font-family: $poppins-m
        font-size: 17px
        line-height: 147%
        color: $dark-color-4
        max-width: 290px
        text-align: center
        &_style_bold
            font-family: $roboto-m
            font-size: 15px
            line-height: 161%
            color: $black-color

.btn-link
    display: flex
    align-items: center
    justify-content: center
    font-family: $roboto-b
    font-size: 14px
    line-height: 147% 
    border-radius: 8px
    padding-top: 9px
    padding-bottom: 10px                
    &_theme_light
        color: $black-color            
        border: 2px solid $bright-color
        min-width: 149px
        &:hover        
            border-color: $dark-color-9
            transition: border-color 0.4s ease          
    &_theme_bright 
        color: $light-color-2
        background: $bright-color
        min-width: 160px
        &:hover        
            background: $dark-color-9
            transition: background 0.4s ease 

.form
    display: flex
    align-items: center
    justify-content: left
    @include xxs
            flex-direction: column
    &__input        
        font-family: $poppins-reg        
        line-height: 147%
        color: $dark-color-9
        border-radius: 8px 0px 0px 8px       
        background: $white-color
        outline: none
        box-sizing: border-box
        @include xxs
            border-radius: 8px 8px 0px 0px
        &_size_small
            flex-basis: calc(100% - 148px)
            padding-top: 11px
            padding-bottom: 10px
            padding-left: 18px
            font-size: 10px
            border: 0.3px solid $bright-color-2
            border-right: none
            @include xxs
                    width: 100%
                    border: 0.3px solid $bright-color-2
                    border-bottom: none
        &_size_big
            flex-basis: calc(100% - 210px)
            padding: 20px 0px 20px 27px
            font-size: 16px
            border: 0.5px solid $bright-color-2
            border-right: none
            @include xxs
                    width: 100%
                    border: 0.3px solid $bright-color-2
                    border-bottom: none
    &__btn        
        flex-shrink: 0
        font-family: $poppins-reg        
        line-height: 147%
        color: $white-color        
        border-radius: 0px 8px 8px 0px
        background: $bright-color-2
        cursor: pointer
        box-sizing: border-box
        @include xxs
                border-radius: 0px 0px 8px 8px
        &_size_small
            flex-basis: 148px
            font-size: 14px
            padding-top: 10px
            padding-bottom: 9px
            @include xxs
                    width: 100%
                    flex-basis: 39px
        &_size_big
            flex-basis: 210px
            font-size: 21px
            padding-top: 18px
            padding-bottom: 18px
            @include xxs
                    width: 100%
                    flex-basis: 39px  
        &:hover        
            background: $dark-color-9
            transition: background 0.4s ease            

.promo
    width: 100%
    height: 100%       
    background: url('../img/gradient_bg.png') no-repeat    
    background-position: center
    background-size: cover
    @include xl
        width: 1440px
    &__bg        
        width: 1140px
        margin:  0 auto
        background: url("../icons/promo__bg_map.svg") no-repeat
        background-position-x: center            
        padding-top: 70px
        padding-bottom: 198px        
        @include sm
            width: calc(100% - 40px)                               
        @include xs
            padding-top: 50px
            padding-bottom: 50px    
    &__wrap
        display: flex
        align-items: center
        justify-content: center
        gap:87px        
        //max-width: 1184px
        @include xs
            flex-direction: column-reverse
            gap: 30px
            padding-bottom: 50px
    &__title
        color: $dark-color-3
        padding-bottom: 17px
        max-width: 414px
    &__text
        font-family: $poppins-sb
        font-size: 17px
        line-height: 147%
        color: $dark-color-4
        padding-bottom: 26px
        max-width: 449px
    &__links
        display: flex
        align-items: center
        gap: 10px
        margin-bottom: 16px    
    &__btn
        color: $light-color-2
        font-family: $poppins-b
        font-size: 14px
        line-height: 147%
        background: $dark-color-3
        border-radius: 6px
        padding: 9px 25px
        z-index: 130
        &:hover
            background: $bright-color-2
            transition: background 0.4s ease 
        @include xxs
            font-size: 12px     
    &__link
        font-family: $poppins-b
        font-size: 14px
        line-height: 147%
        color: $dark-color-3
        display: flex
        align-items: center
        gap: 6px
        z-index: 130
        @include xxs
            font-size: 12px   
        &:hover
            color: $bright-color-2
            transition: color 0.4s ease                        
    &__info
        font-family: $poppins-b
        font-size: 12.46px
        line-height: 146.687%
        color: $dark-color-3
    &__info span:not(:last-child)                 
        border-right: 2px solid $bright-color-3
    &__info-item        
        padding-right: 6px
        padding-left: 6px 

.features
    padding-top: 84px
    padding-bottom: 115px
    max-width: 1212px
    width: 100%
    @include xs
        padding-top: 0        
        padding-bottom: 50px

.share
    margin-bottom: 115px
    @include xxs
        margin-bottom: 50px
    &__wrap
        display: flex
        align-items: center        
        gap:80px
        @include xs
            flex-direction: column
    &__thumb
        max-width: 514px
    &__content
        max-width: 457px
    &__title
        color: $dark-color-3
        padding-bottom: 17px
    &__text
        font-family: $poppins-m
        font-size: 17px
        line-height: 147%
        color: $dark-color-4
        max-width: 457px

.prop
    max-width: 1213px   
    margin-bottom: 115px
    @include xxs
        margin-bottom: 50px
    &__wrap
        display: flex
        align-items: center
        gap:144px
        border-radius: 49px
        background: linear-gradient(300deg, #F5F2EB 1.26%, #F7E6CB 100.49%)
        box-shadow: 5.53883px 5.53883px 28.8019px 0px #DD8762
        padding-top: 136px
        padding-bottom: 134px
        padding-left: 90px
        padding-right: 90px
        @include md
            padding: 30px
            gap: 30px
        @include xs
            flex-direction: column-reverse    
    &__content
        max-width: 389px
        display: flex
        flex-direction: column
        gap: 18px
    &__item
        display: flex
        gap:13px         
    &__img-box
        flex-basis: 57px              
        height: 57px
        background-color: $bright-color-2
        border-radius: 8px
        display: flex
        align-items: center
        justify-content: center
    &__caption
        flex-basis: calc(100% - 57px)    
    &__title
        font-family: $poppins-b
        font-size: 17px
        line-height: 148%
        color: $dark-color-5   
    &__text
        font-family: $poppins-m
        font-size: 17px
        line-height: 148%
        color: $dark-color-4
        @include sm
            font-size: 15px

.security
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    padding-bottom: 115px
    @include xxs
        padding-bottom: 50px
    &__title
        color: $black-color
        padding-bottom: 15px
        margin: 0 auto      
    &__subtitle
        max-width: 600px
        font-family: $roboto-m
        font-size: 17px
        line-height: 148%
        color: $dark-color-6
        padding-bottom: 100px
        margin: 0 auto
        @include xs
            padding-bottom: 50px        
    &__wrap
        display: flex
        align-items: center
        justify-content: center
        gap: 166px
        @include md
            gap: 50px
        @include xs
            flex-direction: column            
    &__thumb
    &__content
        flex-basis: 468px
        text-align: left
        @include xs
            flex-basis: 100%
    &__content-title        
        font-family: $poppins-b
        font-size: 20px
        line-height: 148%
        color: $black-color
        letter-spacing: 0.6px
        padding-bottom: 15px
    &__text
        font-family: $poppins-m
        font-size: 15px
        line-height: 148%
        color: $dark-color-6
        letter-spacing: 0.4px
        padding-bottom: 15px          

.automation
    width: 100%
    padding-bottom: 116px
    max-width: 1213px
    @include xxs
        padding-bottom: 50px
    &__wrap
        border-radius: 49px
        background: linear-gradient(300deg, #F5F2EB 1.26%, #F7E6CB 100.49%)
        box-shadow: 5.53883px 5.53883px 28.8019px 0px #DD8762
        display: flex
        justify-content: center
        align-items: center
        gap: 80px
        padding-bottom: 146px
        padding-top: 116px
        @include md
            padding: 30px
        @include xs
            flex-direction: column-reverse
    &__content
        flex-basis: 459px
        @include xs
            flex-basis: 100%
    &__title
        padding-bottom: 15px
        color: $black-color        
    &__text
        padding-bottom: 19px
        max-width: 395px
        font-family: $roboto-m
        font-size: 17px
        line-height: 148% 
        color: $dark-color-6    
    &__info-box
        width: 299px
        display: flex
        gap: 17px
        align-items: center
        padding-top: 13px
        padding-bottom: 17px
        padding-left: 16px
        border-radius: 13px
        background: $white-color
        box-shadow: 0px 9px 17px 0px rgba(0, 0, 0, 0.09)
        margin-bottom: 23px
    &__icon-box
        width: 33px
        height: 33px
        background: $bright-color-2
        border-radius: 5px
        display: flex
        align-items: center
        justify-content: center
    &__info
        display: flex
        flex-direction: column
    &__info-title
        font-family: $roboto-b
        font-size: 16px
        line-height: 153%
        color: $black-color
    &__info-text
        font-family: $roboto-m
        font-size: 15px
        line-height: 153% 
        color: $black-color                    

.price
    width: 100%
    padding-bottom: 80px
    @include sm
        padding-bottom: 0px
    &__wrap
        display: flex
        align-items: center
        justify-content: center
        gap: 114px
        @include sm
            flex-direction: column
    &__thumb-wrap
        height: 544px
        @include xxs
            height: 100%    
    &__thumb
        width: 544px
        height: 272px
        position: relative
        border-radius: 50% 50% 0 0 / 100% 100% 0 0
        background: radial-gradient(50% 50% at 50% 50%, #F3FCFF 0%, #F3FCFF 0.01%, #FE9563 100%)
        @include xxs
            width: 340px
            height: 170px 
    &__img
        position: absolute
        @include xxs
            width: 150px
        &_position_left
            top: 150px
            left: 45px
            @include xxs
                top: 70px
                left: 30px
        &_position_right       
            top: 100px
            left: 255px
            @include xxs
                top:30px
                left: 180px
    &__content
        flex-basis: 460px
        @include sm
            flex-basis: 100%
        @include xxs
            padding-top: 100px     
    &__title
        color: $dark-color-1
        padding-bottom: 15px
    &__text-wrap
        display: flex
        flex-direction: column
        gap: 10px  
    &__text
        font-family: $roboto-m
        font-size: 16.67px
        line-height: 148.2%
        color: $dark-color-6
    &__links-wrap
        padding-top: 36px
        display: flex
        gap: 10px            

.better
    width: 100%
    padding-bottom: 86px
    padding-top: 79px
    @include xxs
        padding-bottom: 50px
        padding-top: 50px
    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        text-align: center        
    &__title
        padding-bottom: 15px
    &__subtitle
        max-width: 600px
        font-family: $roboto-m
        font-size: 17px
        line-height: 148%
        color: $dark-color-6
        padding-bottom: 74px

.keep
    padding-bottom: 103px
    max-width: 1213px
    @include xxs
        padding-bottom: 50px
    &__wrap
        display: flex
        gap: 122px
        align-items: center
        justify-content: center
        padding-bottom: 72px
        padding-top: 72px
        padding-right: 131px
        padding-left: 103px
        border-radius: 44px
        background: linear-gradient(102deg, #F7E6CB 0%, #F5F2EB 100%)
        box-shadow: 5.54px 5.54px 28.8px 0px #DD8762
        @include md
            padding-left: 20px
            padding-right: 20px
            width: 100%
        @include sm
            gap: 100px
        @include xs
            gap: 30px            
            flex-direction: column-reverse
            padding-top: 50px
            padding-bottom: 50px            
    &__content
        flex-basis: 457px
        @include sm
            flex-basis: 100%
    &__title
        font-family: $poppins-b
        font-size: 38px
        line-height: 126%
        color: $dark-color-2
        padding-bottom: 15px
    &__text-wrap
        display: flex
        flex-direction: column
        gap: 13px
    &__text
        font-family: $poppins-m
        font-size: 17px
        line-height: 148%
        color: $dark-color-2
        letter-spacing: 0.5px
        @include xxs
            font-size: 14px
    &__thumb
        flex-basis: 600px
        @include sm
            flex-basis: 100%     

.moments
    padding-bottom: 108px
    &__wrap
        display: flex
        flex-direction: column
        text-align: center
    &__title
        color: $black-color
        padding-bottom: 15px
    &__subtitle
        max-width: 600px
        align-self: center
        font-family: $roboto-m
        font-size: 16.67px
        line-height: 148.2%
        letter-spacing: 0.5px
        color: $dark-color-6
        padding-bottom: 74px   
    &__link
        padding-top: 10px
        padding-bottom: 9px
        padding-left: 32px
        padding-right: 32px
        background: $bright-color-2
        border-radius: 8px
        color: $white-color
        font-family: $roboto-b
        font-size: 14.129px
        line-height: 146.687%
        &:hover        
            background: $dark-color-9
            transition: background 0.4s ease    

    &__info
      padding-top: 25px
    &__info-item        
        font-family: $roboto-b
        font-size: 13.389px
        line-height: 146.687%        
        color: $black-color                
    &__info-item:not(:last-child)
        padding-right: 7px                 
        border-right: 2px solid $black-color
    &__info-item:not(:first-child)
        padding-left: 2px                         

.stories
    display: flex
    &__wrap
        display: flex
        flex-direction: column
        text-align: center
        min-width: 1246px
        border-radius: 44px
        background: linear-gradient(102deg, #F7E6CB 0%, #F5F2EB 100%)
        box-shadow: 5.54px 5.54px 28.8px 0px #DD8762
        padding: 38px 30px 46px 30px
        @include md
            min-width: 100%
    &__title
        padding-bottom: 15px
        color: $black-color
    &__subtitle
        align-self: center
        max-width: 625px
        font-family: $roboto-m
        font-size: 16.67px
        line-height: 148.2%
        color: $dark-color-6
        padding-bottom: 25px

.advantages
    width: 100%
    padding-top: 120px  
    padding-bottom: 163px
    @include sm
        padding-top: 100px
        padding-bottom: 100px
    @include xxs
        padding-bottom: 50px
        padding-top: 50px
    &__wrap
        display: flex
        align-items: center
        justify-content: center
        gap:88px
        @include md
            gap:50px
        @include sm
            flex-direction: column-reverse
            gap: 100px            
    &__thumb
        position: relative
        width: 488px
        height: 488px
        border-radius: 100%        
        background: radial-gradient(50% 50% at 50% 50%, #F3FCFF 0%, #F3FCFF 0.01%, #FE9563 100%)
        @include xxs
            width: 340px
            height: 340px
    &__img  
        position: absolute
        top: 65px
        left: 95px
        @include xxs
            width: 160px
            top: 90px
            left: 100px                
        &_position_top
            z-index: 2
        &_position_bottom    
            top: 98px
            left: 210px
            @include xxs
                top: 70px
                left: 150px
    &__content
        flex-basis: 426px
        @include sm
            flex-basis: 100%
            max-width: calc( 100% - 200px )
        @include xs
            max-width: 100%
            padding-top: 30px    
    &__title
        color: $black-color
        padding-bottom: 18px
    &__text-wrap
        display: flex
        flex-direction: column
        gap: 18px
        padding-bottom: 37px    
    &__text
        font-family: $roboto-m
        font-size: 16.67px
        line-height: 148.2%
        color: $dark-color-6
        letter-spacing: 0.5px

.stat
    width: 100%
    padding-bottom: 104px
    @include xxs
        padding-bottom: 50px
    &__wrap
        display: flex
        flex-direction: column
        align-items: center        
    &__title
        max-width: 630px
        color: $dark-color-7
        padding-bottom: 50px
        @include xs
                text-align: center      
    &__content
        max-width: 1246px
        border-radius: 44px
        background: linear-gradient(102deg, #F7E6CB 0%, #F5F2EB 100%)
        box-shadow: 15px 15px 26px 0px #DD8762
        display: flex
        gap:100px        
        padding-top: 63px
        padding-bottom: 66px
        padding-left: 155px
        padding-right: 155px
        @include md
            padding: 30px
            gap: 0px
            justify-content: space-between
        @include xs
            flex-direction: column
            align-items: center    
            text-align: center
            gap: 30px
    &__text
        max-width: 465px
        font-family: $poppins-sb
        font-size: 29.946px
        line-height: 135%
        color: $black-color
        letter-spacing: 0.299px
        @include sm
            font-size: 25px
            flex-basis: 50%
        @include xs
            flex-basis: 100% 
    &__stat
        flex-basis: 157px
        display: flex
        flex-direction: column
        gap: 5px
        @include xs
            flex-basis: 100% 
    &__rating        
        display: flex
        flex-direction: column
        gap: 2px        
    &__numbers
        font-family: $poppins-sb
        font-size: 53.903px
        line-height: 100%
        color: $black-color
        letter-spacing: 0.539px
    &__icons
        padding-left: 6px    
    &__caption
        font-family: $poppins-sb
        font-size: 14.628px
        line-height: 100%
        color: $black-color
        letter-spacing: 0.146px
        padding-left: 6px                     

.questions
    padding-bottom: 93px
    max-width: 1070px
    @include xxs
        padding-bottom: 50px
    &__wrap
        display: flex
        flex-direction: column               
    &__title
        padding-bottom: 36px
        align-self: center
        @include xs
                text-align: center 
    &__subtitle
        align-self: center
        text-align: center
        max-width: 567px
        padding-bottom: 44px
        font-family: $roboto-m
        font-size: 16.67px
        line-height: 126%
        color: $black-color
        letter-spacing: 0.5px        
    &__list
        display: grid
        grid-template-columns: repeat(2, 1fr)    
        row-gap: 18px
        column-gap: 60px
        padding-bottom: 19px
        @include xs
            grid-template-columns: 1fr  
    &__list-item-title    
        font-family: $poppins-b
        font-size: 17.977px
        line-height: 148.2%
        color: $black-color
    &__form        
        max-width: 1041px    

.unlimited
    width: 100%
    margin-bottom: 113px
    @include xxs
        margin-bottom: 50px
    &__wrap
        max-width: 1246px
        padding-top: 74px
        padding-bottom: 58px
        padding-left: 20px
        padding-right: 20px
        border-radius: 44px
        background: linear-gradient(102deg, #F7E6CB 0%, #F5F2EB 100%)
        box-shadow: 15px 15px 26px 0px #DD8762
        display: flex
        align-items: center
        justify-content: center
        gap: 165px
        @include sm
            gap: 100px
        @include xs
            gap: 30px        
            flex-direction: column
            padding-top: 50px
            padding-bottom: 50px            
    &__content    
        flex-basis: 500px
        @include xs
            flex-basis: 100%
    &__title
        color: $black-color
        padding-bottom: 15px
    &__text
        font-family: $poppins-m
        font-size: 17px
        line-height: 153%
        letter-spacing: 0.5px
        color: $dark-color-6
        @include xxs
            font-size: 14px
    &__links-wrap
        padding-top: 20px
        padding-bottom: 21px
        display: flex
        gap: 10px
    &__captions
        font-family: $roboto-m
        font-size: 11px
        line-height: 153%        
        color: $black-color
        margin-bottom: 23px        
    &__captions span:not(:last-child)
        padding-right: 10px                 
        border-right: 3px solid $bright-color-3
    &__captions span:not(:first-child)
        padding-left: 7px             

.subscribe
    padding-bottom: 43px
    &__wrap
        display: flex        
        justify-content: center
        gap:42px
        @include sm
            gap: 22px
        @include xs
            flex-direction: column        
    &__left
        flex-basis: 303px
        @include sm
            flex-basis: 100%
    &__logo
        display: flex
        align-items: baseline        
        padding-bottom: 10px
    &__logo-title
        font-family: $istok
        font-size: 28px
        line-height: 100%
        color: $dark-color-8 
    &__text  
        font-family: $poppins-m
        font-size: 17px
        line-height: 153%
        color: $dark-color-6
        padding-bottom: 17px
        @include sm
            font-size: 14px
    &__right
        display: flex
        flex-direction: column
        justify-content: space-between
    &__nav-wrap
        display: flex
        gap: 66px
        @include sm
            gap:45px
        @include xs
            flex-wrap: wrap        
    &__nav-item
    &__nav-title
        font-family: $poppins-b
        font-size: 15px
        line-height: 153%
        color: $black-color
        padding-bottom: 15px
    &__link-list
        display: flex
        flex-direction: column
        gap: 7px
    &__link         
        font-family: $poppins-reg
        font-size: 14px
        line-height: 153%
        color: $dark-color-6
        position: relative
        &::after
            content: ""
            position: absolute
            bottom: -2px
            left: 50%
            height: 1px
            width: 0%
            transform: translate(-50%)
            background: $dark-color-6
            transition: width 0.4s ease  
        &:hover
            &::after
                width: 100%
                transition: width 0.4s ease             
    &__form
        padding-top: 47px
        max-width: 590px